* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}

nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30vh;
    background-color: #FF9900;
}

#dogLogo {
    height: auto;
    width: 270px;
}

#logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    right: 4rem;
}

#navTab {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 10%;
    font-size: 24px;
    position: relative;
    right: 1rem;
}

#navTab li {
    list-style: none;
}

#navTab a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media screen and (max-width: 1024px) {
    #navTab {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    #navTab {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    #navTab li {
        opacity: 0;
    }
}

#nav-active {
    transform: translateX(0%);
}

#welcomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; /* Adjust the width as needed */
    border-radius: 50%;
    border: 15px solid #FF9900;
    color: black;
    height: 9cm;
    margin-bottom: 9%;
    margin-left: 5%;
    position: relative;
    top: 2rem;
    margin-top: 5%;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    margin-top: 60px;
    font-size: 30px;
    text-align: center;
}

#welcomeText {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    justify-content: space-between;
}

#dogIcon {
    width: 1000px;
    height: auto;
    margin-top: -799px;
    margin-left: 300px;
    position: relative;
    right: -42rem;
    top: 10rem;
}

#dogImag{
    position: relative;
    width: 200px;
    top: -9rem;
    margin-bottom: -214px;
}

main {
    padding: 10px;
    margin: 10px 0;
    text-indent: 5%;
}

#testimonialsSection {
    height: 15cm;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

#dogBreedsSection {
    height: 15cm;
}

footer {
    background-color: #FF9900;
    color: black;
    padding: 80px;
    text-align: center;
}

#footerLogo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#footerNav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#footerNav li {
    list-style: none;
    margin: 0 10px;
}

#footerNav a {
    color: black;
    text-decoration: none;
    font-size: 23px;
}

#footerContact {
    margin-top: 20px;
}

#footerContact p {
    margin-bottom: 5px;
    font-size: 14px;
}

#footerContact a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
